
body {
    margin:0;
    padding:0;
}

/* Layout for map - same ID for map on homepage and query results page */
#map {
    position:absolute;
    top:200px;  /* set top:0 and position map under login/logout & search forms - temp set to 200px until implementing bootstrap */
    bottom:0;
    width:100%;
}

/* Menu boxes for toggling layers on map */
#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}

/* Popup boxes - same ID for popups on homepage and query results page  */

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker-title {
    font-weight: 700;
}

/* favorite class */
.favorite {
    color: red;
    font-family: Courier;
}

.not_favorite {
    color: blue;
}

/* for helper function - show lat/lng on mouse hover */
#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}
