body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-weight: bold;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
}

#map {
    position:absolute;
    top:50px;
    bottom:0;
    left:0;
    width:100%;
}

#use-current-location {
    width: 150px;
}

.btn {
    position:relative;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 130px;
    text-align: center;
}

#search-btn {
    position: absolute;
    top: 90px;
    left: 15px;
}

#reset-map {
    position: fixed;
    top: 130px;
    left: 15px;
}

/* Menu boxes for toggling layers on map */
#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 90px; 
    right: 15px;
    border-radius: 3px;
    width: 130px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Roboto', sans-serif;
}

#menu a {
    font-size: 14px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 8px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}

.mapboxgl-popup {
    max-width: 400px;
    font-size: 12px/20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-items: center;
}

.mapboxgl-popup-content {
    background:rgba(255,255,255,0.8) !important;
}

.favorite {
    color: red;
}

.not_favorite {
    color: blue;
}

.marker-title {
    font-weight: 700;
}

.form {
    max-width: 300px;
    padding-left: 20px;
}

#about {
    padding: 50px;
}

/* for helper function to show lat/lng on mouse hover */
#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}
