{% extends 'base.html' %}
{% block title %}SFparks - About{% endblock %}
{% block body %}

<div id='about'>
<h3>About <span style='font-family: Montserrat', sans-serif>SFparks</span></h3>
<br>
Need to take a break outdoors? SFparks is an interactive web application that displays parks and public open spaces based on a user’s preferences. Whether you only have 5 minutes to stroll somewhere nearby or a longer break to take a 20 minute bike ride, SFparks has got you covered. This app takes into account how long a user will allot for travel and whether they’re walking or cycling in order to identify parks and open spaces that match their routing profile. Users can also log in to keep track of their favorite parks and save their search results.
<br><br>
SFparks uses HTML5, CSS, and Javascript on the client side and leverages the Mapbox API for data visualization. All interactions with the back end are managed through AJAX for a better user experience. Park data is stored in a PostgreSQL database, which has been seeded with open source data available on SF OpenData, including <a href="https://data.sfgov.org/Culture-and-Recreation/Park-and-Open-Space-Map/4udc-s3pr">San Francisco Parks and Open Spaces</a> and downtown's <a href="https://data.sfgov.org/Geographic-Locations-and-Boundaries/Privately-Owned-Public-Open-Space-POPOS-and-Public/55um-v9vc">Privately Owned Public Open Spaces</a> data. The app runs on Flask, a Python web framework based on the Werkzeug module and Jinja2 template engine, and uses SQLAlchemy as the ORM.
<br><br>
Enjoy SFparks! Feel free to <a href="https://github.com/cvlong/sfparks" target="_blank">check out the source code</a> or <a href="https://www.linkedin.com/in/cvlong" target="_blank">connect on LinkedIn</a> for more information.
<div>
{% endblock %}