<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}TITLE{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
  <h1></h1>
  
  {% if "user_id" in session %}
    <form action="/logout" method='POST'>
        <input type='submit' value='Sign out'>
    </form>
  {% else %}
    <form action="/login" method='POST'>
        <input type='submit' value='Sign in'>
    </form>
  {% endif %}



  <br>
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}
  <hr>

  {% block content %}BODY CONTENT{% endblock %}

  <footer></footer>

</body>
</html>