<!DOCTYPE html>
<html>
<head>
  
  <title>{% block title %} {% endblock %}</title>
  
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  
  {% block head %} {% endblock %}

</head>

<body>
  
  {% if "user" in session %}
    <form action="/logout" method='POST'>
        <input type='submit' value='Sign out'>
    </form>
  {% else %}
    <form action="/login" method='POST'>
        <input type='submit' value='Sign in'>
    </form>
  {% endif %}

  <br>
  <ul>
    {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
  <hr>

  {% block body %} {% endblock %}


  <footer></footer>
<!--   {% block footer %}{% endblock %}
 -->

  <!-- <script src="https://code.jquery.com/jquery.js"></script> -->

</body>
</html>