{% extends 'base.html' %} 

{% block title %}SFparks{% endblock %}

{% block head %} 
{% endblock %}

{% block body %}

    <div id="origin-input">
        <form action="/query" method="GET">
            <label for="field-origin">Starting location:</label>
            <input type="text" name="origin" id="field-origin">

            <label for="dropdown-maxtime">Time there:</label>
                <select name="time">
                  <option value="5">5 mins.</option>
                  <option value="10">10 mins.</option>
                  <option value="15">15 mins.</option>
                  <option value="20">20 mins.</option>
                  <option value="30">30 mins.</option>
                  <option value="45">45 mins.</option>
                </select>

            <label for="field-routing">Routing profile:</label>
                <input type="radio" name="routing" value="walking">Walking
                <input type="radio" name="routing" value="cycling">Cycling

        <input type="submit" value="Let's go!">
        </form>
    </div>

<!-- separate button to get user's current location -->
    <div>
        <button id="use-current-location">Use current location</button>
        <span id="output"></span>
    </div>


    <div id='map' class='home-map'></div>
    <nav id='menu' class='toggle-menu'></nav>

<!-- Could move scripts to a separate JS file, then link to it here: src="/static, ETC" -->

<script>

var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    // toggle with? mapbox://styles/mapbox/satellite-streets-v9
    center: [-122.431, 37.773], // center of SF
    zoom: 12.5
});

// Disable map rotation using right click + drag
map.dragRotate.disable();

// Disable map rotation using touch rotation gesture
map.touchZoomRotate.disableRotation();


var park_markers = {{ parks | safe }}; // '| safe' to disable HTML autoescape

// var park_markers = {"type": "FeatureCollection", "features": [{"geometry": {"type": "Point", "coordinates": [-122.39891, 37.7884]}, "type": "Feature", "properties": {"name": "555 Mission St", "marker-symbol": null, "routing_time": null, "favorite": false, "type": "popos", "id": 1}}, {"geometry": {"type": "Point", "coordinates": [-122.396, 37.7888]}, "type": "Feature", "properties": {"name": "Foundry Square NE", "marker-symbol": null, "routing_time": null, "favorite": false, "type": "popos", "id": 2}}, {"geometry": {"type": "Point", "coordinates": 



//var park_markers = JSON.parse(parks)

console.log(park_markers)



// Add POPOS + POSM data as source rather than layer ===========================

// var popos_markers = park_markers.features.filter(function(source) {
//     return source.features.properties.type === 'popos';
// });

// console.log(popos_markers)

// var posm_markers = park_markers.features.filter(function(source) {
//     return source.features.properties.type === 'posm';
// });

// map.getSource('popos_markers').setData(popos_markers);
// ============================================================================>

var park_markers_source = new mapboxgl.GeoJSONSource({
    data: park_markers
    })



map.on('load', function () {

    // Add park marker data as a new GeoJSON source.
    map.addSource("park_markers", park_markers_source);

// Adding POPOS and POSM data as layers of the park_markers source==============

    // Add a layer showing the POPOS markers.
    map.addLayer({
        "id": "popos_markers", // unique layer name
        "type": "circle", // how the layer is rendered (symbol or circle)
        "source": "park_markers", // source data
        "filter": ["==", 'type', 'popos'], // specifies conditions on source features
        "layout": { // defines how layer data is passed to the GPU; can link to
            // this layout in another layer with the 'ref' layer property to decrease
            // processing time and memory
            'visibility': 'visible' 
        },
        'paint': {
            'circle-radius': 10, // units in pixels
            'circle-color': "#ff0000",
            'circle-opacity': {
                "stops": [[3, 0.2], [15,0.8]] // interpolate values?
            }
        },
        'paint.popos': {
            // 'xxxx' // class-specific paint properties
        }
    });

    // Add a layer showing the POSM markers.
    map.addLayer({
        "id": "posm_markers",
        "type": "circle",
        "source": "park_markers",
        "filter": ["==", 'type', 'posm'],
        "layout": {
            'visibility': 'visible' 
        },
        'paint': { 
            'circle-radius': 10, // units in pixels
            'circle-color': '#1aa3ff',
            'circle-opacity': {
                "stops": [[3, 0.2], [15,0.8]] // interpolate values based on acreage?
            }
        },
        'paint.posm': {
            // 'xxxx' // class-specific paint properties
        }
    });

    // Add a layer showing a user's favorites.
    map.addLayer({
        "id": "fav-markers",
        "type": "circle",
        "source": "park_markers",
        "filter": ["==", 'favorite', 'favorite'],
        "layout": {
            'visibility': 'visible' 
        },
        'paint': { 
            'circle-radius': 15, // units in pixels
            'circle-color': '#ff00bf',
            'circle-opacity': 1.0
        },
        'paint.favorites': {
            // 'xxxx' // class-specific paint properties
        }
    });
})
//=============================================================================>


// // Only keep this section if it's possible to add POPOS + POSM data with 
// // .addSource() rather than with .addLayer() ================================

//     // Add POPOS marker data as a new GeoJSON source.
//     map.addSource("popos_markers", {
//         "type": "geojson",
//         "data":  popos_markers,
//         "cluster": true,
//         "clusterMaxZoom": 14, // Max zoom to cluster points on
//         "clusterRadius": 23 // Radius of each cluster when clustering points
//     });

//     popos_markers.features.forEach(function(feature) {
//         feature.properties["marker-symbol"] = "garden"
//     });

//     // Add a layer showing the POPOS markers.
//     map.addLayer({
//         "id": "popos_markers",
//         "type": "symbol",
//         "source": "popos_markers",
//         "layout": {
//             "icon-image": "{marker-symbol}-15",
//             'visibility': 'visible' // not sure if this is necessary
//         }
//     });

//     // Display the POPOS data in three layers, each filtered to a range of
//     // count values with a different fill color.
//     var layers = [
//         [20, '#f28cb1'],
//         [10, '#f1f075'],
//         [0, '#51bbd6']
//     ];

//     layers.forEach(function (layer, i) {
//         map.addLayer({
//             "id": "cluster-" + i,
//             "type": "circle",
//             "source": "popos_markers",
//             "paint": {
//                 "circle-color": layer[1],
//                 "circle-radius": 14
//             },
//             "filter": i == 0 ?
//                 [">=", "point_count", layer[0]] :
//                 ["all",
//                     [">=", "point_count", layer[0]],
//                     ["<", "point_count", layers[i - 1][0]]]
//         });
//     });

//     // Add a layer for the POPOS clusters' count labels.
//     map.addLayer({
//         "id": "cluster-count",
//         "type": "symbol",
//         "source": "popos_markers",
//         "layout": {
//             "text-field": "{point_count}",
//             "text-font": [
//                     "DIN Offc Pro Medium",
//                     "Arial Unicode MS Bold"
//                 ],
//             "text-size": 12
//         }
//     });


//     // Add POSM marker data as a new GeoJSON source.
//     map.addSource("posm_markers", {
//         "type": "geojson",
//         "data":  posm_markers
//     });

//     posm_markers.features.forEach(function(feature) {
//         feature.properties["marker-symbol"] = "monument"
//     });

//     // Add a layer showing the POSM markers.
//     map.addLayer({
//         "id": "posm_markers",
//         "type": "symbol",
//         "source": "posm_markers",
//         "layout": {
//             "icon-image": "{marker-symbol}-15",
//             'visibility': 'visible' // not sure if this is necessary
//         }
//     });
// });
// ============================================================================>

// Set the map bounds based on the extent of park_markers.
var bounds = new mapboxgl.LngLatBounds();

park_markers.features.forEach(function(feature) {
    bounds.extend(feature.geometry.coordinates);
});

map.fitBounds(bounds, {padding: '50'});


// Add functionality for toggling layers via menu selection.
addLayer('POPOS', 'popos_markers');
addLayer('SF parks', 'posm_markers');

function addLayer(name, id) {
    var link = document.createElement('a');
    link.href = '#';
    link.className = 'active';
    link.textContent = name;

    link.onclick = function (e) {
        e.preventDefault();
        e.stopPropagation();

        var visibility = map.getLayoutProperty(id, 'visibility');

        if (visibility === 'visible') {
            map.setLayoutProperty(id, 'visibility', 'none');
            this.className = '';
        } else {
            this.className = 'active';
            map.setLayoutProperty(id, 'visibility', 'visible');
        }
    };

    var layers = document.getElementById('menu');
    layers.appendChild(link);
}
// End toggle layers.


// Create a popup info box on hover, but don't add it to the map yet.
var popup = new mapboxgl.Popup({
    closeButton: false,
    closeOnClick: false
});

// Change the cursor style as a UI indicator.
map.on('mousemove', function(e) {
    
    // Find all rendered features from the given layers.
    var features = map.queryRenderedFeatures(e.point, { layers: ['popos_markers','posm_markers', 'fav-markers'] });
    
    // Indicate that the symbols are clickable by changing the cursor style to 'pointer'.
    map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';

    if (!features.length) {
        popup.remove();
        return;
    }

    var feature = features[0];
    // Populate the popup and set its coordinates based on the feature found.
    
    // Set the favorite attribute on the geojson object, then assign the class
    // based on whether it's favorited or not. Use that property to determine the
    // button class in the popop. On click, update the favorite class dynamically
    // and send an Ajax request to the server to update the database. 


    var htmlString = "<div><p>" + feature.properties.name + "</p><button id=" + feature.properties.id + " class=" + feature.properties.favorite + " onclick='updateFavorite(" + feature.properties.id + ")'>&hearts; Favorite</button></div>";

    popup.setLngLat(feature.geometry.coordinates)
        .setHTML(htmlString)
        .addTo(map);
});

// When using the ID to access part of an array, since they start at 0, need to set ID to 'id -1'

function updateFavorite(id) {
    console.log(id);
    if (($('#' + id).attr('class')) === 'not_favorite') {
        $('#' + id).attr('class', 'favorite');
        // ADD TO FAVORITES LAYER????
        console.log(park_markers.features[id]);
        park_markers.features[id-1].properties.favorite = 'favorite';
        map.getSource('park_markers').setData(park_markers);
        console.log(park_markers.features[id]);
        // console.log(park_markers.features[id].properties)
        $.post('/update-favorite.json', {'id': id, 'class': 'favorite'}, favoritesSuccess);
    } else {
        $('#' + id).attr('class', 'not_favorite');
        park_markers.features[id-1].properties.favorite = 'not_favorite';
        map.getSource('park_markers').setData(park_markers);
        $.post('/update-favorite.json', {'id': id, 'class': 'not_favorite'}, favoritesSuccess);
    }
}


    //original code ============================================================
//    if (($('#' + id).attr('class')) === 'not_favorite') {
//        $('#' + id).attr('class', 'favorite');
//        $.post('/update-favorite.json', {'id': id, 'class': 'favorite'}, favoritesSuccess);
//    } else {
//        $('#' + id).attr('class', 'not_favorite');
//        $.post('/update-favorite.json', {'id': id, 'class': 'not_favorite'}, favoritesSuccess);
//    }
//}
    //=========================================================================>


function favoritesSuccess(result) {
    console.log(result.status);
}
// End popup boxes.


// Collect user's current location via browser.
$('#use-current-location').on('click', findCurrentLocation);

var currentLatitude;
var currentLongitude;

var output = document.getElementById("output");

function findCurrentLocation(evt) {

    if (!navigator.geolocation) {
        output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
        return;
    }

    function success(position) {
        currentLatitude  = position.coords.latitude;
        currentLongitude = position.coords.longitude;
        console.log('latitude: ' + currentLatitude + ' \n longitude: ' + currentLongitude);
        $.post('/current-location.json', {'latitude': currentLatitude, 'longitude': currentLongitude}, sendLatLngSuccess);
        output.innerHTML = '<p>Latitude is ' + currentLatitude + '<br>Longitude is ' + currentLongitude + '</p>';
    };

    function error() {
        output.innerHTML = "Unable to retrieve your location";
    };

    output.innerHTML = "<p>Locating…</p>";

    navigator.geolocation.getCurrentPosition(success, error);
}

function sendLatLngSuccess(result) {
    console.log(result.status);
    console.log(result.latitude);
}



// ON click - prevents default form submission, finds current location, then go to route w/o using Ajax

// prevent default,
// get curret location
// then submit

// In JS to redirect to other page, AKA python route

// // Send currentLatitude, currentLongitude back to server??
//     $.post('/current-location.json', { //ajax goes to this route, and sends this json like form data
//         'latitude': currentLatitude,
//         'longitude': currentLongitude
//         },
//         function (data) {
//             //THIS IS WHAT YOU DO WITH THE DATA - change the DOM, request something, save it
//         } //in python, at end of route, this is what gets returned 

</script>

{% endblock %}