{% extends 'base.html' %} 
{% block title %}SFparks{% endblock %}
{% block head %} 
{% endblock %}

{% block body %}
<!-- Button trigger modal -->
<button type="button" id="search-btn" class="btn btn-primary search" data-toggle="modal" data-target="#myModal">
  Search SFparks
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Search parks and public open spaces</h3>
      </div>
      <div class="modal-body">
        <form action="/query" id="search-input" method="get" name="search-input">
            <div class="row">
            <div class="col-xs-8">
            <label for="field-origin">Where are you starting from?</label>
            <input id="field-origin" name="origin" type="text"><br>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-default" id="use-current-location">Use current location</button>
                <span id="output"></span>
                </div>
            </div>
            <br>
            <label for="dropdown-maxtime">How much time do you have?</label> <select name="time">
                <option value="5">
                    5 mins.
                </option>
                <option value="10">
                    10 mins.
                </option>
                <option value="15">
                    15 mins.
                </option>
                <option value="20">
                    20 mins.
                </option>
<!--                 <option value="30">
                    30 mins.
                </option>
                <option value="45">
                    45 mins.
                </option> -->
            </select><br>
            <br>
            <label for="field-routing">How will you get there?</label>
                <input name="routing" type="radio" value="walking" checked>Walking
                <input name="routing" type="radio" value="cycling">Cycling
            <br><br>
        <!-- </div>
      <div class="modal-footer"> -->
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Let's go!</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div>
    <button class="btn btn-default" id="reset-map">Reset map view</button>
</div>

<div class="container-fluid">
    <div class='home-map' id='map'></div>
    <nav class='toggle-menu' id='menu'></nav>
</div>

<!-- TODO: Move scripts to a separate JS file -->
<script>

$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})

var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/cvlong/ciolst186006fbpne0devqoel',
    // toggle with satellite view 'mapbox://styles/cvlong/ciueqvhfb005p2ho8r7o045ow'
    center: [-122.431, 37.773], // center of SF
    zoom: 12.5
});

var park_markers = {{ parks | safe }}; // '| safe' to disable HTML autoescape

var park_markers_source = new mapboxgl.GeoJSONSource({
        data: park_markers
    })

// Fit map to boundaries of displayed markers
var bounds = [[-122.529, 37.743], [-122.370, 37.812]];

map.fitBounds(bounds, {padding: '20'});

// Reset map view presented on load
$('#reset-map').on('click', function() {
    map.fitBounds(bounds, {padding: '-20'});
});

map.on('load', function () {
    map.addSource("park_markers", park_markers_source);

    map.addLayer({
        "id": "popos_markers", // unique layer name
        "type": "circle", // how the layer is rendered (symbol or circle)
        "source": "park_markers", // source data
        "filter": ["==", 'type', 'popos'], // specify conditions on source features
        "layout": { // define how layer data is passed to the GPU; can link to
            // this layout in another layer with the 'ref' layer property to decrease
            // processing time and memory
            'visibility': 'visible' 
        },
        'paint': {
            'circle-radius': 9, // units in pixels
            'circle-color': "red",
            'circle-opacity': 0.6
        }
    });

    map.addLayer({
        "id": "posm_markers",
        "type": "circle",
        "source": "park_markers",
        "filter": ["==", 'type', 'posm'],
        "layout": {
            'visibility': 'visible' 
        },
        'paint': { 
            'circle-radius': 9, // units in pixels
            'circle-color': '#FF6700',
            'circle-opacity': 0.9
        }
    });

    map.addLayer({
        "id": "fav-markers",
        "type": "symbol",
        "source": "park_markers",
        "filter": ["==", 'favorite', 'favorite'],
        "layout": {
            'visibility': 'visible',
            'icon-image': 'star-15',
        },
    });
})

// Add functionality for toggling layers via menu selection.
addLayer('Privately Owned Public Open Spaces', 'popos_markers');
addLayer('SF public parks', 'posm_markers');
addLayer('My Favorites', 'fav-markers');

function addLayer(name, id) {
    var link = document.createElement('a');
    link.href = '#';
    link.className = 'active';
    link.textContent = name;

    link.onclick = function (e) {
        e.preventDefault();
        e.stopPropagation();

        var visibility = map.getLayoutProperty(id, 'visibility');

        if (visibility === 'visible') {
            map.setLayoutProperty(id, 'visibility', 'none');
            this.className = '';
        } else {
            this.className = 'active';
            map.setLayoutProperty(id, 'visibility', 'visible');
        }
    };

    var layers = document.getElementById('menu');
    layers.appendChild(link);
}

// Collect user's current location via browser.
$('#use-current-location').on('click', findCurrentLocation);

var currentLatitude;
var currentLongitude;

var output = document.getElementById("output");

function findCurrentLocation(evt) {
    event.preventDefault();

    if (!navigator.geolocation) {
        output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
        return;
    }

    function success(position) {
        currentLatitude  = position.coords.latitude;
        currentLongitude = position.coords.longitude;
        $.post('/current-location.json', {'latitude': currentLatitude, 
                                          'longitude': currentLongitude},
                                           sendLatLngSuccess);

        output.innerHTML = '';

    };

    function error() {
        output.innerHTML = "Unable to retrieve your location";
    };

    output.innerHTML = "<p>Locating…</p>";

    navigator.geolocation.getCurrentPosition(success, error);
}

function sendLatLngSuccess(result) {
    console.log(result.status);
    var address = result.address;
    $('input#field-origin').val(address);
    // map.getSource('single-point').setData(ev.result.geometry); // update
}

</script>
<script src='/static/js/map.js'></script>

{% endblock %}