{% extends 'base.html' %} 

{% block title %}SFparks{% endblock %}

{% block head %} 
{% endblock %}

{% block body %}

    <div id="origin-input">
        <form action="/query" method="GET">
            <label for="field-origin">Starting location:</label>
            <input type="text" name="origin" id="field-origin">

            <label for="dropdown-maxtime">Time there:</label>
                <select name="time">
                  <option value="5">5 mins.</option>
                  <option value="10">10 mins.</option>
                  <option value="15">15 mins.</option>
                  <option value="20">20 mins.</option>
                  <option value="30">30 mins.</option>
                  <option value="45">45 mins.</option>
                </select>
            <!-- routing = 'walking' -->

        <input type="submit" value="Let's go!">
        </form>
    </div>

<!-- separate button to get user's current location -->
    <div>
        <button id="use-current-location">Use current location</button>
        <span id="output"></span>
    </div>


    <nav id="menu"></nav>
    <div id='map'></div>

<!-- Could move scripts to a separate JS file, then link to it here: src="/static, ETC" -->

<script>

var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    // toggle with? mapbox://styles/mapbox/satellite-streets-v9
    center: [-122.431, 37.773],
    zoom: 12.5
    // maxBounds: bounds
});

// Disable map rotation using right click + drag
map.dragRotate.disable();

// Disable map rotation using touch rotation gesture
map.touchZoomRotate.disableRotation();


var popos_markers = {{ popos | safe }};  // | safe to disable HTML autoescape
var posm_markers = {{ posm | safe }};


map.on('load', function () {
    
    // Add POPOS marker data as a new GeoJSON source.
    map.addSource("popos_markers", {
        "type": "geojson",
        "data":  popos_markers,
        "cluster": true,
        "clusterMaxZoom": 14, // Max zoom to cluster points on
        "clusterRadius": 23 // Radius of each cluster when clustering points
    });

    popos_markers.features.forEach(function(feature) {
        feature.properties["marker-symbol"] = "garden"
    });

    // Add a layer showing the POPOS markers.
    map.addLayer({
        "id": "popos_markers",
        "type": "symbol",
        "source": "popos_markers",
        "layout": {
            "icon-image": "{marker-symbol}-15",
            'visibility': 'visible' // not sure if this is necessary
        }
    });

    // Display the POPOS data in three layers, each filtered to a range of
    // count values with a different fill color.
    var layers = [
        [20, '#f28cb1'],
        [10, '#f1f075'],
        [0, '#51bbd6']
    ];

    layers.forEach(function (layer, i) {
        map.addLayer({
            "id": "cluster-" + i,
            "type": "circle",
            "source": "popos_markers",
            "paint": {
                "circle-color": layer[1],
                "circle-radius": 14
            },
            "filter": i == 0 ?
                [">=", "point_count", layer[0]] :
                ["all",
                    [">=", "point_count", layer[0]],
                    ["<", "point_count", layers[i - 1][0]]]
        });
    });

    // Add a layer for the POPOS clusters' count labels.
    map.addLayer({
        "id": "cluster-count",
        "type": "symbol",
        "source": "popos_markers",
        "layout": {
            "text-field": "{point_count}",
            "text-font": [
                    "DIN Offc Pro Medium",
                    "Arial Unicode MS Bold"
                ],
            "text-size": 12
        }
    });


    // Add POSM marker data as a new GeoJSON source.
    map.addSource("posm_markers", {
        "type": "geojson",
        "data":  posm_markers
    });

    posm_markers.features.forEach(function(feature) {
        feature.properties["marker-symbol"] = "monument"
    });

    // Add a layer showing the POSM markers.
    map.addLayer({
        "id": "posm_markers",
        "type": "symbol",
        "source": "posm_markers",
        "layout": {
            "icon-image": "{marker-symbol}-15",
            'visibility': 'visible' // not sure if this is necessary
        }
    });
});


// Fit map to posm_markers boundary, since they are the most spread out
var bounds = new mapboxgl.LngLatBounds();

posm_markers.features.forEach(function(feature) {
    bounds.extend(feature.geometry.coordinates);
});

map.fitBounds(bounds, {padding: '50'});
// end fit to bounds


// Add functionality for toggling layers via menu selection
addLayer('POPOS', 'popos_markers');
addLayer('SF parks', 'posm_markers');

function addLayer(name, id) {
    var link = document.createElement('a');
    link.href = '#';
    link.className = 'active';
    link.textContent = name;

    link.onclick = function (e) {
        e.preventDefault();
        e.stopPropagation();

        var visibility = map.getLayoutProperty(id, 'visibility');

        if (visibility === 'visible') {
            map.setLayoutProperty(id, 'visibility', 'none');
            this.className = '';
        } else {
            this.className = 'active';
            map.setLayoutProperty(id, 'visibility', 'visible');
        }
    };

    var layers = document.getElementById('menu');
    layers.appendChild(link);
}
// end toggle layers


// Create a popup info box on hover, but don't add it to the map yet.
var popup = new mapboxgl.Popup({
    closeButton: false,
    closeOnClick: false
});


// Change the cursor style as a UI indicator.
map.on('mousemove', function(e) {
    var features = map.queryRenderedFeatures(e.point, { layers: ['popos_markers', 'posm_markers'] });
    
    // Indicate that the symbols are clickable by changing the cursor style to 'pointer'.
    map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';

    if (!features.length) {
        popup.remove();
        return;
    }

    var feature = features[0];
    // Populate the popup and set its coordinates based on the feature found.
    popup.setLngLat(feature.geometry.coordinates)
        .setHTML("<div><p>" + feature.properties.name + "</p><button id=" + feature.properties.id + " class='favorite-btn' onclick='addToFavorites.bind(this, " + feature.properties.id + ")'>&hearts; Favorite</button></div>")
        .addTo(map);

});
// end popup boxes


// // TODO: Add favorite buttons

function addToFavorites (id) {
    console.log(this);
    console.log(id);
    var id = this.id;
    var type = this.type;
    $.post('/add-to-favorites.json', {'id': id, 'type': type}, addToFavoritesSuccess);
}

function addToFavoritesSuccess(result) {
    console.log(result.status);
    var id = result.id;
    $('#' + id).css('color', 'red');
}


// // $('.favorite-btn').on('click', addToFavorites);















// Collect user's current location vis browser
$('#use-current-location').on('click', findCurrentLocation);

var currentLatitude
var currentLongitude

function findCurrentLocation(evt) {
    var output = document.getElementById("output");

    if (!navigator.geolocation){
        output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
        return;
    }

    function success(position) {
        currentLatitude  = position.coords.latitude;
        currentLongitude = position.coords.longitude;
        console.log('latitude: ' + currentLatitude + ' \n longitude: ' + currentLongitude);
    // output.innerHTML = '<p>Latitude is ' + currentLatitude + '<br>Longitude is ' + currentLongitude + '</p>';
    };

    function error() {
        output.innerHTML = "Unable to retrieve your location";
    };

    // output.innerHTML = "<p>Locating…</p>";

    navigator.geolocation.getCurrentPosition(success, error);

};


// ON clickprevents form submission, finds current location, then go to route and don't use Ajax

// prevent default,
// get curret location
// then submit

// In JS to redirect to other page, AKA python route

// // Send currentLatitude, currentLongitude back to server??
//     $.post('/current-location.json', { //ajax goes to this route, and sends this json like form data
//         'latitude': currentLatitude,
//         'longitude': currentLongitude
//         },
//         function (data) {
//             //THIS IS WHAT YOU DO WITH THE DATA - change the DOM, request something, save it
//         } //uin python, at end of route, this is what gets returned 

</script>

{% endblock %}