{% extends 'base.html' %}
{% block title %}Log In{% endblock %}
{% block body %}

<div class="form">
    <h3>Sign in</h3>
    <form action='/process-login' method='POST'>
      <div class="form-group">
        <label for='field-email'></label>
        <input type='email' name='email' class="form-control" id='field-email' placeholder="Email" required>
      </div>
      <div class="form-group">
        <label for='field-password'></label>
        <input type='password' name='password' class="form-control" id='field-password' placeholder="Password" required>
      </div>
      <button type="submit" class="btn btn-default">Sign in</button>
    </form>
</div>

<br>
<br>

<div class="form">
    <form action='/register' method='POST'>
        <input type='submit' class="btn btn-default" value='Register'>
    </form>
</div>

{% endblock %}