
{% extends 'base.html' %}

{% block title %}SFparks{% endblock %}

{% block head %} 

{% endblock %}

{% block body %}

    <h2>SFparks</h2>

<!-- 
    <div>origin: {{ origin }}, routing time: {{ time }}</div>
    <br>
    <div>geojson origin: {{ geojson_origin }}</div>
    <br>
    <div>geojson destinations: {{ geojson_destinations }}</div>
    <br>
    <div>markers: {{ markers }}</div>
    <br> 
    -->
<div>
    <ul>
        
    </ul>
</div>




    <div id='map'></div>

<!-- HELPER FUNCTION FOR LAT/LNG VERIFICATION -->
    <pre id='info'></pre>


<script>

var origin = {{ geojson_origin | safe }};
var markers = {{ markers | safe }};

// ORIGIN = ORIGIN VALUE from JSON

var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9', 
    center: [origin.geometry.coordinates[0], origin.geometry.coordinates[1]]
    // programmatically set center to origin lat/lng
    // zoom: 12.5,
});

// Disable map rotation using right click + drag
map.dragRotate.disable();

// Disable map rotation using touch rotation gesture
map.touchZoomRotate.disableRotation();


// Create a bounding box ('envelope') around the markers
var enveloped = turf.envelope(markers);

// var resultFeatures = fc.features.concat(enveloped);

var result = { //put the resulting envelope in a geojson format FeatureCollection
    "type": "FeatureCollection",
    "features": [enveloped] 
};

// console.log([enveloped.geometry.coordinates[0][0][0],
//              enveloped.geometry.coordinates[0][0][1],
//              enveloped.geometry.coordinates[0][2][0],
//              enveloped.geometry.coordinates[0][2][1]]
//             );

// turf.point-grid 
// has to be in order [minX, minY, maxX, maxY]
var extent = [enveloped.geometry.coordinates[0][0][0],
             enveloped.geometry.coordinates[0][0][1],
             enveloped.geometry.coordinates[0][2][0],
             enveloped.geometry.coordinates[0][2][1]
             ];
             // EX: [-122.40379, 37.78618, -122.394668, 37.79374]
var cellWidth = 0.1;
var units = 'miles';

var grid = turf.pointGrid(extent, cellWidth, units);

console.log(grid)


//build url to request distance to each point in the grid

//feature collection.features = array of features
//fc.features.map(function(feature) {return feature.geometry.coordinates.join(',')}
//iterating over this array. transforms each object in the array from a feature to a string of two coordinates
//mao over ffeatures since it's an array
//that will be an array of comma joined coordinates, then join with semicolons to add to the string

// still save the grid as the fc
// want to use the centre coordinate, then add the descrinations
//so for objects in the fc (remember they'll be off by one) then add this as a property to each geojson feature





// $.post('/distances.json', {'grid': grid}, sentGridSuccess);

// function sentGridSuccess(result) {
//     console.log(result.status);
// }

// find distances to points in the point-grid


// var gridCoords = mapboxClient.getDistances([
//   [-95.4431142, 33.6875431],
//   [-95.0431142, 33.6875431],
//   [-95.0431142, 33.0875431],
//   [-95.0431142, 33.0175431],
//   [-95.4831142, 33.6875431]
// ], {
//   profile: 'walking'
// }, function(err, results) {
//   console.log(results);
// });






map.on('load', function () {
    
    // Add turf data.
    map.addSource('turf-data', {
        "type": "geojson",
        "data": grid
    });

    // Add turf.
    map.addLayer({
        "id": "turf-data",
        "type": "circle",
        "source": "turf-data"
    });

    grid.features.forEach(function (feature) {
        feature.properties["marker-color"] = "#6BC65F";
        feature.properties["marker-size"] = "small";
    });

    // Add origin point as a new GeoJSON source.
    map.addSource('origin-point', {
        "type": "geojson",
        "data": origin
    });

    // Add a layer showing the origin point.
    map.addLayer({
        "id": "origin-point",
        "type": "circle",
        "source": "origin-point",
        "layout": {
            'visibility': 'visible'
        },
        "paint": {
            "circle-radius": 12,
            "circle-color": "#007cbf",
            "circle-opacity": 0.9
        }
    });

    // Add marker data as a new GeoJSON source.
    map.addSource("markers", {
        "type": "geojson",
        "data":  markers
    });

    var routing_time = markers.features.map(function (feature) {
        return feature.properties.routing_time;
    })

    // Add a layer showing the markers.
    map.addLayer({
        "id": "markers",
        "type": "circle",
        "source": "markers",
        "layout": {
            "visibility": 'visible'
        },
        'paint': {
            'circle-radius': 11,
            // 'circle-radius': { // interpolate based on routing distance??
            //     'property': routing_time,
            //     'stops': [
            //         [routing_time*0.33, 9],
            //         [routing_time*0.66, 11],
            //         [routing_time, 13]
            //     ]
            // },
            'circle-color': '#00b300',
            'circle-opacity': 0.8
        }
    });
});

// Fit map to boundaries of displayed markers
var bounds = new mapboxgl.LngLatBounds();

markers.features.forEach(function(feature) {
    bounds.extend(feature.geometry.coordinates);
});

map.fitBounds(bounds, {padding: '50'});
// End fit to bounds

//




// Add popup info boxes on hover:
// Create a popup, but don't add it to the map yet.
var popup = new mapboxgl.Popup({
    closeButton: false,
    closeOnClick: false
});

map.on('mousemove', function(e) {
    var features = map.queryRenderedFeatures(e.point, { layers: ['markers'] });
    
    // Indicate that the symbols are clickable by changing the cursor style to 'pointer'.
    map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';

    if (!features.length) {
        popup.remove();
        return;
    }

    var feature = features[0];

    // Populate the popup and set its coordinates
    // based on the feature found.
    popup.setLngLat(feature.geometry.coordinates)
        .setHTML(feature.properties.name)
        .addTo(map);
});
// end popup boxes




// HELPER FUNCTION FOR LAT/LNG VERIFICATION
map.on('mousemove', function (e) {
    document.getElementById('info').innerHTML =
        // e.point is the x, y coordinates of the mousemove event relative
        // to the top-left corner of the map
        JSON.stringify(e.point) + '<br />' +
            // e.lngLat is the longitude, latitude geographical position of the event
        JSON.stringify(e.lngLat);
});
    

</script>

{% endblock %}

