{% extends 'base.html' %}
{% block title %}SFparks{% endblock %}
{% block head %} 
{% endblock %}
{% block body %}
    
    <div>
        <button id="search-btn" class="btn btn-primary search">Try new search</button>
    </div>

    <div>
        <button class="btn btn-default" id="reset-map">Reset map view</button>
    </div>

    <div id='map'></div>

    <nav class='toggle-menu' id='menu'></nav>
    
    <!-- Helper function for lat/lng verification -->
    <!-- <pre id='info'></pre> -->

<script>

var origin = {{ geojson_origin | safe }};
var routing = "{{ routing }}";
var time = {{ time }};

var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/cvlong/ciolst186006fbpne0devqoel', 
    center: [origin.geometry.coordinates[0],
             origin.geometry.coordinates[1]
    ]
});

var park_markers = {{ markers | safe }}; // '| safe' to disable HTML autoescape

var park_markers_source = new mapboxgl.GeoJSONSource({
        data: park_markers
    });

// Fit map to boundaries of displayed markers
var bounds = new mapboxgl.LngLatBounds();

park_markers.features.forEach(function(feature) {
    bounds.extend(feature.geometry.coordinates);
});

map.fitBounds(bounds);

// Reset map view presented on load
$('#reset-map').on('click', function() {
    map.fitBounds(bounds, {padding: '10'});
});

map.on('load', function () {
    map.addSource("park_markers", park_markers_source);

    map.addSource('origin-point', {
        "type": "geojson",
        "data": origin
    });

    map.addLayer({
        "id": "origin-point",
        "type": "circle",
        "source": "origin-point",
        "layout": {
            'visibility': 'visible',
        },
        'paint': {
            'circle-radius': 13,
            'circle-color': '#337ab7',
            'circle-opacity': 1
        }
    });

    map.addLayer({
        "id": "park_markers",
        "type": "circle",
        "source": "park_markers",
        "filter": ["<=", 'routing_mins', time],
        "layout": {
            "visibility": 'visible'
        },
        'paint': {
            'circle-radius': 11,
            'circle-color': '#FF6600',
            'circle-opacity': 0.9
        }
    });

    map.addLayer({
        "id": "fav-markers",
        "type": "symbol",
        "source": "park_markers",
        "filter": ["==", 'favorite', 'favorite'],
        "layout": {
            'visibility': 'visible',
            'icon-image': 'star-15',
            'icon-size': 1.5
        },
    });
});

// Add functionality for toggling layers via menu selection.
addLayer('My Favorites', 'fav-markers');

function addLayer(name, id) {
    var link = document.createElement('a');
    link.href = '#';
    link.className = 'active';
    link.textContent = name;

    link.onclick = function (e) {
        e.preventDefault();
        e.stopPropagation();

        var visibility = map.getLayoutProperty(id, 'visibility');

        if (visibility === 'visible') {
            map.setLayoutProperty(id, 'visibility', 'none');
            this.className = '';
        } else {
            this.className = 'active';
            map.setLayoutProperty(id, 'visibility', 'visible');
        }
    };

    var layers = document.getElementById('menu');
    layers.appendChild(link);
}

$('#search-btn').on('click', function() {
    window.location.href = "/";
})

// Helper function for lat/lng verification
// map.on('mousemove', function (e) {
//     document.getElementById('info').innerHTML =
//         // e.point is the x, y coordinates of the mousemove event relative
//         // to the top-left corner of the map
//         JSON.stringify(e.point) + '<br />' +
//         // e.lngLat is the longitude, latitude geographical position of the event
//         JSON.stringify(e.lngLat);
// });
</script>

<script src='/static/js/map.js'></script>
<script src='/static/js/turf.js'></script>

{% endblock %}