{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block body %}

<div class="form">
    <h3>Register</h3>
    <form action='/process-registration' method='POST'/>
      <div class="form-group">
        <label for='field-email'></label>
        <input type='email' name='email' class="form-control" id='field-email' placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for='field-password'></label>
            <input type='password' name='password' class="form-control" id='field-password' placeholder="Password" required>
      </div>
      <button type="submit" class="btn btn-default">Register</button>
    </form>
</div>

{% endblock %}